@import 'utils';

.nav {
  display: flex;
  justify-content: space-between;
  padding: $header-spacing;
  background: $header-background-color;
  color: $header-color;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subheadline;
  }

  &__links {
    display: flex;
    flex-direction: row;
    @include subheadline;
    color: $header-color-muted;
  }

  &__link {
    margin: $space-s;
  }
}
