<bod-actions-bar>
  <bod-button (click)="onClickSave()">Save</bod-button>
  <mat-form-field>
    <mat-label>
      Program Name
    </mat-label>
    <input matInput [formControl]="programName" type="text">
  </mat-form-field>
  <bod-button (click)="onCreateProgram()">Create Program</bod-button>
</bod-actions-bar>

<bod-board>
  <bod-new-session (update)="onUpdate($event)" [session]="sessionOne"></bod-new-session>
  <bod-new-session (update)="onUpdate($event)" [session]="sessionTwo"></bod-new-session>
  <bod-new-session (update)="onUpdate($event)" [session]="sessionThree"></bod-new-session>
  <bod-new-session (update)="onUpdate($event)" [session]="sessionFour"></bod-new-session>
</bod-board>