<div class="item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ item.exercise.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" class="form">
        <input type="hidden" [value]="item.exercise.name" disabled>
        <mat-form-field class="form__field">
          <mat-label>
            Reps
          </mat-label>
          <input matInput type="number" formControlName="reps">
        </mat-form-field>
        <mat-checkbox formControlName="AMRAP" class="form__field form__check">
          AMRAP?
        </mat-checkbox>
        <mat-form-field class="form__field">
          <mat-label>
            Sets
          </mat-label>
          <input matInput type="number" formControlName="sets">
        </mat-form-field>
        <mat-form-field class="form__field">
          <mat-label>
            Weight
          </mat-label>
          <input matInput type="text" formControlName="weight">
        </mat-form-field>
        <mat-form-field class="form__field">
          <mat-label>
            Intensity
          </mat-label>
          <mat-select formControlName="intensity">
            <mat-option *ngFor="let itensity of item.exercise.intensities" [value]="itensity"> {{ itensity }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form__field">
          <mat-label>
            Tempo
          </mat-label>
          <input matInput type="text" formControlName="tempo">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
