.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.source__panel {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
}

.exercise__list {
  display: flex;
  flex-direction: column;
}