@import "utils";

@mixin primary-button($text, $normal, $hover, $active) {
  background-color: $normal;
  border-color: $normal;
  color: $text;
  &:hover {
    background-color: $hover;
    border-color: $hover;
  }
  &:active {
    background-color: $active;
    border-color: $active;
  }
}

.un-button {
  @include form-field-reset;
  display: inline-flex;
  padding: 0 $space-l;
  border-radius: $radius-s;
  font-weight: $weight-normal;
  border-width: $size-border-s;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;

  height: grid-8pt(4);

  @include primary-button(
    $white,
    $green-700,
    $green-700,
    $green-800
  );
}