<div class="container">
  <div cdkDropListSortingDisabled #source="cdkDropList" class="exercise__list" cdkDropList [cdkDropListConnectedTo]="[dayOne, dayTwo, dayThree, dayFour]" [cdkDropListData]="sourceList" (cdkDropListDropped)="drop($event)">
    <bod-exercise *ngFor="let exercise of sourceList" [exercise]="exercise" cdkDrag>
  
    </bod-exercise>
  </div>
  <div #dayOne="cdkDropList" class="exercise__list" cdkDropList [cdkDropListConnectedTo]="[source, dayTwo, dayThree, dayFour]" [cdkDropListData]="dayOneList" (cdkDropListDropped)="drop($event)">
    <bod-exercise *ngFor="let exercise of dayOneList" [exercise]="exercise" cdkDrag>
  
    </bod-exercise>
  </div>
  <div #dayTwo="cdkDropList" class="exercise__list" cdkDropList [cdkDropListConnectedTo]="[source, dayOne, dayThree, dayFour]" [cdkDropListData]="dayTwoList" (cdkDropListDropped)="drop($event)">
    <bod-exercise *ngFor="let exercise of dayTwoList" [exercise]="exercise" cdkDrag>
  
    </bod-exercise>
  </div>
  <div #dayThree="cdkDropList" class="exercise__list" cdkDropList [cdkDropListConnectedTo]="[source, dayOne, dayTwo, dayFour]" [cdkDropListData]="dayThreeList" (cdkDropListDropped)="drop($event)">
    <bod-exercise *ngFor="let exercise of dayThreeList" [exercise]="exercise" cdkDrag>
  
    </bod-exercise>
  </div>
  <div #dayFour="cdkDropList" class="exercise__list" cdkDropList [cdkDropListConnectedTo]="[source, dayOne, dayTwo, dayThree]" [cdkDropListData]="dayFourList" (cdkDropListDropped)="drop($event)">
    <bod-exercise *ngFor="let exercise of dayFourList" [exercise]="exercise" cdkDrag>
  
    </bod-exercise>
  </div>
</div>
